.sidebar-holder {
  flex-grow: 1;
  flex-basis: 0;
  padding:15px;
  margin: 16px;
  border-radius: 5px;
  background-color: #f89100;
  border: 2px solid #ccc;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);

  min-width:300px;
  max-Width:300px;
}
.sidebar-tag{
    display: flex;
    margin-top: 5px;
}
.tag-button{
    position: relative;
    padding-right: 30px;
    background-color: white;
    color: black;
}
.remove-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tag-button:hover .remove-icon {
    opacity: 1;
}

.sidebar-form {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  row-gap: 5px;
}

.sidebar-form-row {
  margin-left: 5px;
  margin-right: 5px;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar-form label {
  font-weight: bold;
  font-size: 1.1em;
  color: white
}
.sidebar-label {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.sidebar-form input {
  min-height: 20px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  text-align: left;
  position: relative;
  border-radius: 5px;
  padding:5px;
}

.sidebar-button {
  background-color:white;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  border:none;
  border-radius:5px;
  box-shadow:  2px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}

.sidebar-button:hover {
  transition: 0.2s;
  transform: scale(1.06);
}

.center-vertically-flex {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.tag-delete{
    margin-left: 5px;
    font-size: 0.8rem;
    padding: 3px;

}

.tag-holder {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}
